.brushstroke{
    width: 960px;
    margin: auto;
    z-index:1;
}

.slider {
    max-width: 100%;
    height: 500px;
    margin: 20px auto;
    position: relative;
    z-index:-1;
  }
  .slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .slide1 {
    background: url("../../img/art1.jpg")no-repeat center;
        background-size: cover;
  
  } 
  .slide2 {
    background: url("../../img/art1.jpg")no-repeat center;
        background-size: cover;
      animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;
  }
  .slide3 {
      background: url("../../img/art2.jpg")no-repeat center;
        background-size: cover;
      animation:fade2 8s infinite;
  -webkit-animation:fade2 8s infinite;
  }
  .slide4 {
    background: url("../../img/art3.jpg")no-repeat center;
        background-size: cover;
        animation:fade3 8s infinite;
  -webkit-animation:fade3 8s infinite;
  
  } 
  .slide5 {
    background: url("../../img/art4.jpg")no-repeat center;
        background-size: cover;
      animation:fade4 8s infinite;
  -webkit-animation:fade4 8s infinite;
  }
  .slide6 {
      background: url("../../img/art5.jpg")no-repeat center;
        background-size: cover;
      animation:fade5 8s infinite;
  -webkit-animation:fade5 8s infinite;
  }
  .slide7 {
    background: url("../../img/art6.jpg")no-repeat center;
      background-size: cover;
    animation:fade6 8s infinite;
-webkit-animation:fade6 8s infinite;
}
  @keyframes fade
  {
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
  }
  @keyframes fade2
  {
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
  }
  @keyframes fade3
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
  }
  @keyframes fade4
  {
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
  }
  @keyframes fade5
  {
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
  }
  @keyframes fade6
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
  }